@import "tailwindcss";

:root {
  --font-heading: var(--font-playfair);
  --font-body: var(--font-poppins);
}

body {
  font-family: var(--font-body);
  background: #ffffff;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  letter-spacing: 0.5px;
}
